/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

span {
  color: darkgreen;
  background: lightgreen;
}